.input-container{
    height:50px;
    border: 2px solid white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 10px;
}
.label-container{
    background-color: white;
    height: 20px;
    border-radius: 4px;
    min-width: 65px;
    padding: 0 5px;
    position: absolute;
    left: 18px;
    top: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-container label{
    font-size: 10px;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}
.input-container input{
    height: auto;
    border: transparent;
    padding: 0 10px;
    font-size:16px;
    width: 100%;
    background-color: transparent;
    color: white;
}
.input-container input:focus-visible{
    outline: none;
}
.input-container:focus-within{
    border: 2px solid var(--primary_green);
}
.input-container:focus-within > .label-container {
    background-color: var(--primary_green);
}
.input-container svg{
    height: 16px;

}
.input-button-fields {
    margin: 3rem 0;
}

.input-error-container {
    height: 25px;
    margin: 10px 0;

}
